/*
Fuente de parrafos: font-family: 'Roboto', sans-serif;
Fuente de titulos: font-family: Arial, Helvetica, sans-serif;
*/

*{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.arreglo{
    width: 640px;
    margin: auto;
}
.webkit-scrollbar {
    display: none;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #121216;
    margin: auto;;
    text-align: center;
    color:#ffffff
}
#dylan_section{
    max-width: 100%;
}
.cards_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
#dylan_section h1{
    color: #ffffff;
    font-size: 42px;
    margin-bottom: 50px;
}
#dylan_section h2{
    color: #ffffff;
}
.centro.imagen{
    height: 100px;
    width: 100px;
}
.card{
    width: 650px;
    border-radius: 20px;
}
.card1{
    box-sizing: border-box;
    background:  linear-gradient(57.8deg,#6b42b4 9.75%,#943aab 95.44%);
    height: 300px;
}
.card_text{
    color: #ffffff;
}
.card_title{
    padding-top: 20px;
}
.card_content a{
    text-decoration: none;
}
.card_button{
    width: 60%;
    background-color: #000000;
    color: #ffffff;
    border-radius: 25px;
    padding: 20px 50px;
    margin: auto;
    text-align: center;
}
.card_button:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: black;
}
.more_info{
    display: inline-block;
    padding-bottom: 20px;
    color: #ffffff7e;
}
.card_content .price_month{
    margin-top: -30px;
}

.card2{
    background-image: linear-gradient(53.13deg, rgb(220, 76, 17) 10.71%, rgb(254, 171, 46));
    height: 480px;
}
.month_free{
    font-size: 32px;
    color: #ffffff;
}
.more_info_2{
    color: #ffffff7e;
}
.card3{
    background-image: linear-gradient(rgb(32, 33, 34), rgb(58, 59, 71) 55.56%);
    height: 174px;
}
.card_content img{
    width: 5%;
}
.card_3_button{
    margin-top: 10px;
}

.card4{
    height: 419PX;
    background: linear-gradient(69.06deg,#b84fdd -26.76%,#4965f4 44.6%,#2efb74 132.54%);;
}

.promo_button{
    display: flex;
    align-items: center;
    width: 640px;
    height: 40px;
    color: #ffffff;
    border-radius: 20px;
    border: 2px solid #ffffff;
    position: relative;
}
.promo_button:hover{
    cursor: pointer;
}

.promo_button > p{
    top: 30%;
}
.promo_button p{
    display: inline-block;
}
.promo_button .discount_text{
    height: 35px;
    width: 35px;
    color: #ffffff;
    position: absolute;
    left: 90%;
    top: 15%;
}

.discount_text .discount_percentage{
    padding: 5px 10px;
    background:  linear-gradient(57.8deg,#6b42b4 9.75%,#943aab 95.44%);
    border-radius: 10px;
    margin: auto;
}
*{    font-family: Arial, Helvetica, sans-serif;
    
}


body{
    display: flex;
flex-direction: column;
align-items: center;
background-color: #121216;
text-align: center;
flex-direction: column;


}
h1{
    font-size: 29px;
    color: white;
}
p{
    font-size: 20px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.boton{
    background-color: white;
    padding: 10px 32px;
    border-radius: 100px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 35px;

}
.arreglo{
    width: 640px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}



.dropshadown ul li{
    list-style: none;
    display: none;
    min-width: 10%;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size:1ch;
    
}
.faq{
    margin-bottom: 30px;
    font-size: 0.5cm;
    align-items: center;
}
.dropshadown ul{
    display: block;
    font-size: 0.8cm;
    list-style: none;
    

}
.dropshadown{
    align-self:flex-start;
    text-align: left;
}
.dropshadown ul:hover>li{
    display: block;
}
.boton{
    background-color: white;
    padding: 20px 10px;
    border-radius: 100px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 35px;
    max-width: 350px;

}
/* CATALOGO SECTION */
.catalogo h1{
    font-size: 42px;
}

/* CATALOGO SECTION */


.music{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    box-sizing: border-box;
    align-self: flex-start;
    margin: auto;
}


.catalogo h1{
    margin-bottom: 50px;
}
.catalogo p{
    margin-bottom: 50px;
}
.a{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    text-decoration: none;
    margin-left: 15px;
}

.a1img{
    width: 220px;
    height: 220px;
    background-image: url("../img/a1.png");
    background-size: cover;
    
}
.a2img{
    width: 220px;
    height: 220px;
    background-image: url("../img/a2.png");
    background-size: cover;
    
}
.a3img{
    width: 220px;
    height: 220px;
    background-image: url("../img/a3.png");
    background-size: cover;
    
}
.a4img{
    width: 220px;
    height: 220px;
    background-image: url("../img/a4.png");
    background-size: cover;
    
}
.a5img{
    width: 220px;
    height: 220px;
    background-image: url("../img/a5.png");
    background-size: cover;
    
}
.centro{
    width: 640px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;  
}
.textoinfo{
    text-align: left;
    color: rgb(163, 163, 163);
    margin-bottom: 200px;
    margin-top: 100px;
    font-size: 20px;
    line-height: 25px;
}
.botonn{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background-color: white;
    color: black;
    border-radius: 40px;
    padding: 15px 30px;
    text-decoration: none;
    margin-bottom:40px;
    display:inline-block;
    padding: 20px 40px;
    align-items: center;
    max-width: 200px;
}
p{
    color: #ffffff;
}
.internetimg{
    display: flex;
    justify-content: center;
}

.internetimg img{
    width: 1100px;
}

.internet .boton{
    margin-top: 50px;
}
.flowimg{
    
    display: flex;
    justify-content: center;
}

.flowimg img{
    width: 1100px;
}
.imageen{
    height:60px;
    width:143px;
}
.cellap{ 
    display: flex;
    align-items: center;
}
.barrass{
    display: flex;
    text-align: left;
    line-height: 30px;
    
}
.barrass ul li{
    list-style: none;
    color: #a6a6a6;
}
.barrass ul{
    
    font-size: 14px;
}
footer{
    max-width: 100%;
}